---
import DefaultPageLayout from '$/layouts/default.astro'
import Card from '$/components/Card.astro'


const title = 'Home'
const description = 'Astro-Ink is a crisp, minimal, personal blog theme for Astro'
---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <p>
        Check out the links below for more about Unstacked
    </p>
    <ul role="list" class="link-card-grid">
        <Card
            href="https://www.youtube.com/channel/UCW7-QiS_ihP3JYTUSBQ8lRQ"
            title="Youtube"
            body="Watch Unstacked videos to learn about all things cloud"
        />
        <Card
            href="https://github.com/Unstacked"
            title="Github"
            body="Explore projects that Unstacked are working on"
        />
        <Card
            href="https://twitter.com/UnstackedCloud"
            title="Twitter"
            body="The short ramblings of whoever controls the twitter account"
        />
    </ul>
</DefaultPageLayout>

<style>
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
