---
    import { SITE } from '$/config'
    import SvgIcon from './SvgIcon.astro'
    import SvgLogo from './SvgLogo.astro'
    import ModeSwitcherBtn from './ModeSwitcherBtn.svelte'
    import SearchBtn from './SearchBtn.svelte'

---

<header class="header">
    <div class="header__logo">
        <a href="/" class="avatar">
            <SvgLogo/>
        </a>
    </div>
    <div class="header__meta flex-1">
        <h3 class="header__title dark:text-primarySecondaryDark">
            <a href="">{ SITE.name }</a>
        </h3>
        <div class="header__meta-more flex">
            <p class="header__desc">
                { SITE.description }
            </p>
            <nav class="header__nav flex">
                <ul class="header__ref-list">
                    <li>
                        <SearchBtn client:visible />
                    </li>
                    <li>
                        <a href={ SITE.githubUrl } title={`${ SITE.name }'s Github URL'`}>
                            <SvgIcon>
                                <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                            </SvgIcon>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCW7-QiS_ihP3JYTUSBQ8lRQ" title="Youtube">
                            <SvgIcon>
                                <path d="M27.9704 3.12324C27.6411 1.89323 26.6745 0.926623 25.4445 0.597366C23.2173 2.24288e-07 14.2827 0 14.2827 0C14.2827 0 5.34807 2.24288e-07 3.12088 0.597366C1.89323 0.926623 0.924271 1.89323 0.595014 3.12324C-2.8036e-07 5.35042 0 10 0 10C0 10 -1.57002e-06 14.6496 0.597364 16.8768C0.926621 18.1068 1.89323 19.0734 3.12324 19.4026C5.35042 20 14.285 20 14.285 20C14.285 20 23.2197 20 25.4468 19.4026C26.6769 19.0734 27.6435 18.1068 27.9727 16.8768C28.5701 14.6496 28.5701 10 28.5701 10C28.5701 10 28.5677 5.35042 27.9704 3.12324Z" transform="scale(0.80),translate(1,6)"></path>
                                <path d="M11.4275 14.2854L18.8475 10.0004L11.4275 5.71533V14.2854Z" fill="currentcolor" transform="scale(0.80),translate(1,6)"></path>
                            </SvgIcon>
                        </a>
                    </li>
                    <li>
                        <ModeSwitcherBtn client:visible />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    .header {
        @apply flex gap-4 border-b py-3 /* border-gray-200 dark:border-gray-700 - check styles/global.css */
    }
    .header__logo-svg {
        @apply w-16 h-16 rounded-full overflow-hidden
    }
    .header__title {
        @apply text-4xl font-extrabold md:text-5xl text-primarySecondary dark:text-primarySecondaryDark
    }
    .header__desc {
        @apply text-xl flex-1 dark:text-gray-200
    }
    .header__ref-list {
        @apply flex gap-3 text-gray-400
    }
</style>
